body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: #000 url(intro-bg.jpg) no-repeat scroll bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

.gameText{
    margin: -10px auto;
}

.svgMain {
    margin: 10px auto 20px auto;
    display: block;
}

.svgPlaceholder{
    margin: 10px auto 20px auto;
    border: 4px dashed white;
    display: block;
}

#randomButton {
    color: red;
    border: 1px solid red;
    background-color: transparent;
    margin-top: 5px;
}

#randomButton:hover {
    border: 1px solid red;
    outline: 0;
    color: #000;
    background-color: red;
}

.errorText {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: red;
    animation: errorEffect 2s infinite alternate;
}

@keyframes errorEffect{
    0%
    {
        opacity: 0.5;
        color: red;
    }

    100%
    {
        opacity: 1;
        color: white;
    }
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }

    .btn {
        border-radius: 0;
        text-transform: uppercase;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .input-group input {
        text-align: left;
        border: none;
        border-left: 0 solid transparent;
    }

    .input-group .input-group-addon {
        background-color: white;
        border: none;
        border-right: 0 solid transparent;
    }

    .btn-default, .btn-default:focus {
        border: 1px solid #42dca3;
        color: #42dca3;
        background-color: transparent;
        margin-top: 5px;
    }

    .btn-default:hover
    {
        border: 1px solid #42dca3;
        outline: 0;
        color: #000;
        background-color: #42dca3;
    }
}